{{!-- products page --}}
<div class="container bcontent text-center mt-5">
    <h2 class="">
        Edit Search
    </h2>
    <div class="row">
        <div class="col-sm-auto">
            <a href="/inventory"><button type="button" class="btn btn-primary btn-lg btn-block p-3 m-2">All</button></a>
        </div>
        <div class="dropdown col-sm-auto">
            <button class="btn btn-primary btn-lg btn-block p-3 m-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Genre
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/inventory/bygenre/1">Sci-Fi/Fantasy</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/2">Romance</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/3">Horror</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/4">History</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/5">Biography</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/6">Classics</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/7">Educational</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/8">Children's</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/9">Comedy</a></li>
                <li><a class="dropdown-item" href="/inventory/bygenre/10">Novel</a></li>
        </div>
        <div class="col-sm-auto">
            <a href="/inventory/byauthorasc"><button type="button" class="btn btn-primary btn-lg btn-block p-3 m-2">By Author: Ascending</button></a>
        </div>
        <div class="col-sm-auto">
            <a href="/inventory/byauthordesc"><button type="button" class="btn btn-primary btn-lg btn-block p-3 m-2">By Author: Descending</button></a>
        </div>
        <div class="col-sm-auto">
            <a href="/inventory/onsale"><button type="button" class="btn btn-primary btn-lg btn-block p-3 m-2">On Sale</button></a>
        </div>
    </div>
</div>


<!-- book cards -->
<div class="container">
    {{#if books.length}}
    <div class="row">
        {{#each books}}
        <div class="infoCard rgb col-sm-auto">
            <div id="bookImage" class="infoCard-image">
                <img src="{{this.book_img}}" class="book-image" alt="image of book">
            </div>
            <div class="cardText">
                <h2>{{this.book_title}}</h2>
                <p>By: {{this.author}}</p>
            </div>
            <div class="infoCard-stats">
                <div class="infoStat">
                    <div class="infoValue">{{this.genre.genre_name}}</div>
                    <div class="infoType">Genre</div>
                </div>
                <div class="infoStat infoBorder">
                    <div class="infoValue">{{this.price}}</div>
                    <div class="infoType">Price:</div>
                </div>
                <div class="infoStat">
                    <div class="infoValue">{{this.stock}}</div>
                    <div class="infoType">Inventory</div>
                </div>
            </div>
        </div>
        {{/each}}
   </div>
   {{else}}
   <div class="mt-4">
       <h3 class="text-center">No books found.</h3>
   </div>
   {{/if}}
</div>
